In [115]:
import pandas
import os

In [116]:
#reading different type of data
# data_path = "c://users/nero/desktop/pandas/_data/"
# os.listdir(data_path)
# df1 = pandas.read_csv(data_path+"supermarkets.csv")
# df2 = pandas.read_json(data_path+"supermarkets.json",header=None)
# df3 = pandas.read_excel(data_path+"supermarkets.xlsx",sheetname=0)
# df4 = pandas.read_csv(data_path+"supermarkets_commas.txt")
# df5 = pandas.read_csv(data_path+"supermarkets_semi-colons.txt",sep=";")

In [117]:
#load data
df = pandas.read_json("http://pythonhow.com/supermarkets.json")

In [118]:
#set index and update dataset
df_address_as_id = df.set_index("Address")

In [123]:
#slicing
df_address_as_id.loc["735 Dolores St":"332 Hill St", "Country":"ID"]
list_of_index_all_column_country = list(df_address_as_id.loc[:,"Country"])
index_0_to_3_Column_0_to_4 = df.iloc[0:3,0:4]
index_3_column_name = df.ix[3,"Name"]

In [124]:
#deleting index and columns
df_address_as_id = df_address_as_id.drop("3666 21st St",0)
df_address_as_id = df_address_as_id.drop("Country",1)
df_address_as_id = df_address_as_id.drop(df_address_as_id.index[0:3],0)
df_address_as_id = df_address_as_id.drop(df_address_as_id.columns[0:4],1)

In [125]:
#adding index and columns
df["Region"]=df.shape[0]*["North America"]
df["Region"]=df["Country"]+", "+["North America"]
df_t = df.T
df_t["6"]=["My Address", "My City", "My Country", 10, 7, "My Name", "My State", "My Region"]
df = df_t.T

In [151]:
#find geo-coordinates
from geopy.geocoders import Nominatim
nom = Nominatim()
df["Full_Address"] = df['Address']+", "+df['City']+", "+df["State"]
df["Geo-Code"] = df["Full_Address"].apply(nom.geocode)
df["Geo-Code"][0]
df["Latitude"] = df["Geo-Code"].apply(lambda x: x.latitude if x != None else None)
df["Longitude"] = df["Geo-Code"].apply(lambda x: x.longitude if x != None else None)
df = df.drop("Geo-Code",1)
df = df.drop("Full_Address",1)
df

,Address,City,Country,Employees,ID,Name,State,Region,Latitude,Longitude
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA, North America",37.756489,-122.429343
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA, North America",NaN,NaN
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA, North America",37.755725,-122.428601
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA, North America",37.752965,-122.431714
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA, North America",37.752146,-122.429815
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA, North America",37.753673,-122.433220
6,My Address,My City,My Country,10,7,My Name,My State,My Region,NaN,NaN