In [ ]:
import pandas
import os

In [44]:
# data_path = "c://users/nero/desktop/pandas/_data/"
# os.listdir(data_path)

# df1 = pandas.read_csv(data_path+"supermarkets.csv")
# df1

# df2 = pandas.read_json(data_path+"supermarkets.json",header=None)
# df2.set_index("ID")

# df3 = pandas.read_excel(data_path+"supermarkets.xlsx",sheetname=0)
# df3

# df4 = pandas.read_csv(data_path+"supermarkets_commas.txt")
# df4

# #pandas.read_csv?
# df5 = pandas.read_csv(data_path+"supermarkets_semi-colons.txt",sep=";")

In [47]:
df = pandas.read_json("http://pythonhow.com/supermarkets.json")
df

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [50]:
df_address_as_id = df.set_index("Address")
df_address_as_id

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [53]:
df_address_as_id.loc["735 Dolores St":"332 Hill St", "Country":"ID"]

               Country  Employees  ID
Address
735 Dolores St     USA         15   2
332 Hill St        USA         25   3

In [55]:
list(df_address_as_id.loc[:,"Country"])

['USA', 'USA', 'USA', 'USA', 'USA', 'USA']

In [56]:
df

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

df.iloc[0:4,0:4]